* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

nav {
  margin: auto;
}
nav .logo-svg {
  position: absolute;
  left: 24px;
  top: 30px;
}
nav .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s;
}
nav .sidebar a {
  padding: 12px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.closebtn .fa-solid {
  position: absolute;
  top: 41px;
}

.openbtn {
  font-size: 35px;
  background-color: white;
  color: black;
  border: none;
}

#main {
  transition: margin-left 0.3s;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

hr {
  background: #e5e5e5;
  border: none;
  height: 1px;
}

.magny {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -36px;
}
.magny .search {
  padding-left: 13px;
  width: 90%;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  height: 48px;
  position: relative;
  max-width: 300px;
  margin: 14px;
  color: black;
  font-size: 1em;
}
.magny .search-button {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 320px;
}
.magny .search-button .img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.photos {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 23px;
  max-height: 90%;
  max-width: 400px;
  padding: 14px 23px 30px 23px;
}
.photos .photo-holder {
  position: relative;
}
.photos .photo-holder .text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #f3f3f3;
}
.photos .photo-holder .text h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 17px;
  background: rgba(100, 100, 100, 0.2);
  padding: 4px 3px;
  border-radius: 5px;
}
.photos .photo-holder .text p {
  font-family: "Libre Baskerville", serif;
  color: #e5e5e5;
  font-size: 12px;
  background: rgba(100, 100, 100, 0.3);
  display: inline;
}
.photos .photo-holder img {
  max-width: 90%;
}

.site-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #f3f3f3;
}
.site-footer .logo1 {
  margin: 0 auto;
}
.site-footer p {
  font-size: 14px;
  font-family: "Libre Baskerville", serif;
}
.site-footer img {
  width: 100px;
  line-height: 30px;
}
.site-footer .subscribe {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  -webkit-text-decoration-color: #7d7d7d;
          text-decoration-color: #7d7d7d;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 1em;
}
.site-footer .icons {
  font-size: 20px;
  display: flex;
  gap: 27px;
  color: grey;
  margin-bottom: 30px;
  margin-top: 20px;
  margin: 0 auto;
}
.site-footer .icons a {
  color: black;
}
.site-footer .places {
  margin-top: 30px;
  margin-bottom: 30px;
}
.site-footer .places .city {
  font-size: 14px;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
}
.site-footer .places .museum {
  font-size: 13px;
  color: #7d7d7d;
  font-family: "Libre Baskerville", serif;
}
.site-footer .terms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  font-family: "Libre Baskerville", serif;
  color: #7d7d7d;
  letter-spacing: -1px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.site-footer .terms a {
  color: #7d7d7d;
}
.site-footer .foundation {
  color: #7d7d7d;
  letter-spacing: -1px;
  font-size: 15px;
  margin-top: 30px;
}

/*INDEX1*/
.header-starry {
  padding: 20px;
}

.top-section {
  padding: 0 24px;
}
.top-section .main-part {
  margin: 0 auto;
  position: relative;
  padding-top: 24px;
  max-width: 40%;
}
.top-section .main-part .pop {
  display: flex;
  justify-content: center;
  min-height: 4vh;
  position: relative;
}
.top-section .main-part .btn-open {
  position: absolute;
  bottom: 150px;
  width: 152px;
  height: 48px;
  background-color: black;
  color: #fff;
  opacity: 0.8;
  position: absolute;
  left: 16px;
  top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-width: 0;
}
.top-section .main-part .btn-open .view-image {
  color: #fff;
  text-align: right;
  font-family: Libre Baskerville;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.143px;
}
.top-section .main-part .pop-poza {
  margin: auto;
  height: auto;
  width: 52%;
  -o-object-fit: contain;
     object-fit: contain;
}
.top-section .main-part .btn-close {
  position: absolute;
  top: 13px;
  left: 28px;
  background-color: transparent;
  padding: 0.5rem 0.7rem;
  border-width: 0;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
}
.top-section .main-part .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.top-section .main-part .modal {
  z-index: 2;
}
.top-section .main-part .hidden {
  display: none;
}

img.art-cover {
  width: 100%;
}

span.number {
  font-size: 100px;
  font-weight: 700;
  font-family: "Libre Baskerville", serif;
  color: #f3f3f3;
  bottom: -180px;
  right: -5px;
  position: absolute;
}

.art-details {
  position: absolute;
  background-color: white;
  bottom: -90px;
  left: 0;
  width: 290px;
  padding-left: 10px;
}
.art-details h2 {
  margin: 10px 0;
  letter-spacing: 1px;
}
.art-details p {
  margin: 10px 0;
  color: #7d7d7d;
  letter-spacing: 2px;
}
.art-details .small-image {
  width: 64px;
  height: 64px;
}

.second-part {
  position: relative;
  padding-top: 120px;
}
.second-part .art-description {
  color: #7d7d7d;
  font-size: 14px;
  line-height: 28px;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 54px;
}
.second-part .link {
  color: #7d7d7d;
  font-family: Libre Baskerville;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.hr-side1 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, #e5e5e5 60%, #e5e5e5 60%, #e5e5e5 70%, #e5e5e5 70%, #e5e5e5 80%, #e5e5e5 80%, #e5e5e5 95%, black 90%, black 95%, black 100%);
}

.paragrafe {
  width: 50%;
  float: left;
  padding: 24px;
  gap: 10px;
}
.paragrafe .a {
  color: #000;
  font-family: Libre Baskerville;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.paragrafe .b {
  color: #000;
  font-family: Libre Baskerville;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  letter-spacing: 1px;
}

.button {
  width: 32%;
  float: right;
  padding: 32px;
}

/*INDEX2*/
.hr-side2 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, #e5e5e5 60%, #e5e5e5 60%, #e5e5e5 70%, #e5e5e5 70%, #e5e5e5 80%, #e5e5e5 80%, #e5e5e5 90%, black 90%, black 95%, black 95%, black 100%);
}

/*INDEX3*/
.hr-side3 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, #e5e5e5 60%, #e5e5e5 60%, #e5e5e5 70%, #e5e5e5 70%, #e5e5e5 80%, black 80%, black 85%, black 85%, black 90%, black 95%, black 95%, black 100%);
}

/*INDEX4*/
.hr-side4 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, #e5e5e5 60%, #e5e5e5 60%, #e5e5e5 70%, black 75%, black 80%, black 85%, black 85%, black 90%, black 95%, black 95%, black 100%);
}

/*INDEX5*/
.hr-side5 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, #e5e5e5 60%, #e5e5e5 60%, #e5e5e5 70%, black 75%, black 80%, black 85%, black 85%, black 90%, black 95%, black 95%, black 100%);
}

/*  INDEX6*/
.hr-side6 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, #e5e5e5 60%, #e5e5e5 60%, #e5e5e5 70%, black 75%, black 80%, black 85%, black 85%, black 90%, black 95%, black 95%, black 100%);
}

/*INDEX 7*/
.hr-side7 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, white 65%, black 20%, black 70%, black 85%, black 95%, black 90%, black 100%);
}

/*INDEX8*/
.hr-side8 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, white 60%, black 20%, black 70%, black 85%, black 95%, black 90%, black 100%);
}

/*INDEX9*/
.link-ermine {
  color: #7d7d7d;
  font-family: Libre Baskerville;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  display: flex;
  margin-top: 51px;
}

.hr-side9 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, white 55%, black 20%, black 70%, black 85%, black 95%, black 90%, black 100%);
}

/*INDEX 10*/
.link-nightcoffee {
  color: #7d7d7d;
  font-family: Libre Baskerville;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  display: flex;
  margin-top: 51px;
}

.hr-side10 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, white 50%, black 20%, black 70%, black 85%, black 95%, black 90%, black 100%);
}

/*INDEX 11*/
.hr-side11 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, white 35%, black 20%, black 70%, black 85%, black 95%, black 90%, black 100%);
}

/*INDEX12*/
.hr-side12 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, white 20%, black 20%, black 70%, black 85%, black 95%, black 90%, black 100%);
}

/*INDEX13*/
.hr-side13 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, white 15%, black 20%, black 70%, black 85%, black 95%, black 90%, black 100%);
}

/*INDEX14*/
.hr-side14 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, white 5%, black 20%, black 70%, black 85%, black 95%, black 90%, black 100%);
}

/*INDEX15*/
.hr-side15 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(to left, black 20%, black 100%);
}

/*index sign-in*/
.form-box {
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.form-box .arrow-login {
  position: absolute;
  position: absolute;
  top: 46px;
  left: 47px;
  font-size: 36px;
}
.form-box .arrow-login a {
  color: black;
}
.form-box .galleria-log {
  font-family: "Libre Baskerville", serif;
  margin-top: 105px;
  text-align: center;
  font-weight: bold;
}
.form-box #form-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-top: 61px;
  padding: 28px;
}
.form-box #form-example .label1 {
  padding: 33px;
  font-weight: 800;
  font-size: 19px;
}
.form-box #form-example .label2 {
  padding: 4px;
  font-weight: 800;
  font-size: 19px;
}
.form-box #form-example .input {
  width: 7px;
  width: 318px;
  align-self: center;
  height: 48px;
  border-radius: 2px solid grey;
  padding: 5px;
  font-size: 16px;
}
.form-box #form-example .forgot {
  font-size: 13px;
  align-self: end;
  padding-right: 38px;
  padding-top: 8px;
  color: #1565c0;
  font-family: "Libre Baskerville", serif;
}
.form-box #form-example .button1 {
  width: 318px;
  height: 48px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 19px;
  margin: 0 auto;
  margin-top: 71px;
}

.form-box #form-example2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 61px;
  align-items: center;
}
.form-box #form-example2 .label3 {
  padding: 17px;
  font-weight: 800;
  font-size: 19px;
}
.form-box #form-example2 .label4 {
  padding: 17px;
  font-weight: 800;
  font-size: 19px;
}
.form-box #form-example2 .label5 {
  padding: 3px;
  font-weight: 800;
  font-size: 19px;
}
.form-box #form-example2 .input2 {
  width: 7px;
  width: 318px;
  height: 48px;
  border-radius: 2px solid grey;
  padding: 7px;
  font-size: 16px;
}
.form-box #form-example2 .register-p2 {
  font-size: 12px;
  font-family: "Libre Baskerville", serif;
}
.form-box #form-example2 .register-p2 a {
  text-decoration: none;
  color: grey;
  line-height: 2;
}
.form-box #form-example2 .btn-field1 {
  align-self: center;
  padding-top: 39px;
}
.form-box #form-example2 .btn-field1 .button1 {
  width: 318px;
  height: 48px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 65px;
}
.form-box #form-example2 .btn-field2 {
  align-self: center;
  padding-top: -4px;
}
.form-box #form-example2 .btn-field2 .button1 {
  width: 318px;
  height: 48px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 19px;
  margin-top: 40px;
}
.form-box #form-example2 .account {
  display: flex;
  justify-content: center;
}
.form-box #form-example2 .account .log {
  font-family: "Libre Baskerville", serif;
  font-size: 13px;
}

.navbar {
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar .cart {
  font-size: 30px;
  position: relative;
  padding: 13px;
}
.navbar .cart i {
  cursor: pointer;
}
.navbar .cart .cartAmount {
  position: absolute;
  top: -4px;
  right: -2px;
  font-size: 19px;
}

.shop {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 30px;
  justify-content: center;
  text-align: center;
}
.shop .item {
  border: 1px solid lightgrey;
  padding-top: 7px;
}
.shop .item img {
  -o-object-fit: contain;
     object-fit: contain;
}
.shop .details {
  display: flex;
  flex-direction: column;
}
.shop .details .price-quantity {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.shop .details .price-quantity .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  font-size: 17px;
}

.img-aboutus {
  margin-left: 21px;
  margin-top: 33px;
}

.about-us {
  position: relative;
  margin-top: 10px;
}
.about-us .photo-aboutus {
  display: flex;
  justify-content: center;
}
.about-us .photo-aboutus img {
  max-width: 100%;
  height: 400px;
  width: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .photo-aboutus p {
  position: absolute;
  color: white;
  font-size: 27px;
  letter-spacing: 5px;
  left: 520px;
  bottom: -20px;
}

.aboutus-paragraphs {
  padding: 24px;
  text-align: center;
}
.aboutus-paragraphs h4 {
  line-height: 26px;
  font-family: "Libre Baskerville", serif;
  font-size: 21px;
}
.aboutus-paragraphs p {
  line-height: 26px;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
}

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 235px);
  }
}
@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 235px);
  }
}/*# sourceMappingURL=main.mobile.css.map */