@import "base";

$outer-spacing: 20px;
$margins: 30px;

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  button {
    background: none;
    border: none;
    color: black;
    font-size: 25px;
    padding: 1rem;

    @media (width >720px) {
      // pt ca butoanele sa dispara on varianta desktop
      display: none;
    }
  }
  &_open[aria-expanded="true"] {
    + .topnav_menu {
      translate: 0;
    }
  }
  &_close {
    display: block;
    margin-inline-start: auto;
  }
  &_menu {
    @media (width<720px) {
      background-color: white;
      position: fixed;
      inset: 0;
      translate: 100vw 0;
      transition: 0.3 ease-in-out;
      z-index: 1;
    }
  }

  &_links {
    margin: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    @media (width<720px) {
      flex-direction: column;
      margin: 6rem;
    }
  }
  &_item {
    list-style-type: none;
    font-size: 20px;
    border-radius: 3px;
    font-family: "Libre Baskerville", serif;
  }
  &_link {
    text-decoration: none;
    transition: all 0.4s;
    color: black;

    &:hover {
      color: grey;
    }
  }
}
hr {
  background: #e5e5e5;
  border: none;
  height: 1px;
}

.search {
  display: flex;
  justify-content: center;
  padding: 38px;

  .searchTerm {
    border: 1px solid lightgrey;
    padding: 5px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    padding: 20px 0;
    width: 348px;
    padding: 10px;
    font-size: 17px;
    height: 50px;
  }
}
.info-photos {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 23px;
  max-height: 90%;
  max-width: 400px;
  padding: 14px 23px 30px 23px;

  .photo-holder {
    position: relative;
    .text {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #f3f3f3;

      h2 {
        font-family: "Libre Baskerville", serif;
        font-size: 17px;
        background: rgba(100, 100, 100, 0.2);
        padding: 4px 3px;
        border-radius: 5px;
      }
      p {
        font-family: "Libre Baskerville", serif;
        color: #e5e5e5;
        font-size: 12px;
        background: rgba(100, 100, 100, 0.3);
        display: inline;
      }
    }

    img {
      width: 400px;
      object-fit: contain;
    }
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #f3f3f3;
  .logo1 {
    margin: 0 auto;
  }
  p {
    font-size: 14px;
    font-family: "Libre Baskerville", serif;
  }
  img {
    width: 100px;
    line-height: 30px;
  }
  .subscribe {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #7d7d7d;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 1em;
  }

  .icons {
    font-size: 20px;
    display: flex;
    gap: 27px;
    color: grey;
    margin-bottom: 30px;
    margin-top: 20px;
    margin: 0 auto;
    a {
      color: black;
    }
  }
  .places {
    margin-top: 30px;
    margin-bottom: 30px;
    .city {
      font-size: 14px;
      font-weight: bold;
      font-family: "Libre Baskerville", serif;
    }
    .museum {
      font-size: 13px;
      color: #7d7d7d;
      font-family: "Libre Baskerville", serif;
    }
  }
  .terms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    font-family: "Libre Baskerville", serif;
    color: #7d7d7d;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 15px;
    a {
      color: #7d7d7d;
    }
  }
  .foundation {
    color: #7d7d7d;
    letter-spacing: -1px;
    font-size: 15px;
    margin-top: 30px;
  }
}
/*INDEX1*/

.header-starry {
  padding: 20px;
}
.top-section {
  padding: 0 24px;

  .main-part {
    margin: 0 auto;
    position: relative;
    padding-top: 24px;
    max-width: 40%;
    .pop {
      display: flex;
      justify-content: center;
      min-height: 4vh;
      position: relative;
    }

    .btn-open {
      position: absolute;
      bottom: 150px;
      width: 152px;
      height: 48px;
      background-color: black;
      color: #fff;
      opacity: 0.8;
      position: absolute;
      left: 16px;
      top: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      border-width: 0;
      .view-image {
        color: #fff;
        text-align: right;
        font-family: Libre Baskerville;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.143px;
      }
    }

    .pop-poza {
      margin: auto;
      height: auto;
      width: 50%;

      object-fit: contain;
    }

    .btn-close {
      position: absolute;
      top: 13px;
      left: 28px;
      background-color: transparent;
      padding: 0.5rem 0.7rem;
      border-width: 0;
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3px;
    }

    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      display: flex;
      justify-content: center;
      flex-direction: column;
      z-index: 1;
    }
    .modal {
      z-index: 2;
    }
    .hidden {
      display: none;
    }
  }
}

img.art-cover {
  width: 100%;
}

span.number {
  font-size: 100px;
  font-weight: 700;
  font-family: "Libre Baskerville", serif;
  color: #f3f3f3;
  bottom: -180px;
  right: -5px;
  position: absolute;
}

.art-details {
  position: absolute;
  background-color: white;
  bottom: -90px;
  left: 0;
  width: 290px;
  padding-left: 10px;

  h2 {
    margin: 10px 0;
    letter-spacing: 1px;
  }

  p {
    margin: 10px 0;
    color: #7d7d7d;
    letter-spacing: 2px;
  }

  .small-image {
    width: 64px;
    height: 64px;
  }
}

.second-part {
  position: relative;
  padding-top: 120px;

  .art-description {
    color: #7d7d7d;
    font-size: 14px;
    line-height: 28px;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 54px;
  }
  .link {
    color: #7d7d7d;
    font-family: Libre Baskerville;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.929px;
    text-decoration-line: underline;
  }
}

.hr-side1 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,

    #e5e5e5 60%,
    #e5e5e5 60%,
    #e5e5e5 70%,
    #e5e5e5 70%,
    #e5e5e5 80%,
    #e5e5e5 80%,
    #e5e5e5 95%,
    black 90%,
    black 95%,
    black 100%
  );
}

.paragrafe {
  width: 50%;
  float: left;
  padding: 24px;
  gap: 10px;
  .a {
    color: #000;
    font-family: Libre Baskerville;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
  .b {
    color: #000;
    font-family: Libre Baskerville;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    letter-spacing: 1px;
  }
}
.button {
  width: 32%;
  float: right;
  padding: 32px;
}

/*INDEX2*/
.hr-side2 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,

    #e5e5e5 60%,
    #e5e5e5 60%,
    #e5e5e5 70%,
    #e5e5e5 70%,
    #e5e5e5 80%,
    #e5e5e5 80%,
    #e5e5e5 90%,
    black 90%,
    black 95%,
    black 95%,
    black 100%
  );
}

/*INDEX3*/
.hr-side3 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,

    #e5e5e5 60%,
    #e5e5e5 60%,
    #e5e5e5 70%,
    #e5e5e5 70%,
    #e5e5e5 80%,
    black 80%,
    black 85%,
    black 85%,
    black 90%,
    black 95%,
    black 95%,
    black 100%
  );
}

/*INDEX4*/
.hr-side4 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,

    #e5e5e5 60%,
    #e5e5e5 60%,
    #e5e5e5 70%,
    black 75%,

    black 80%,
    black 85%,
    black 85%,
    black 90%,
    black 95%,
    black 95%,
    black 100%
  );
}

/*INDEX5*/
.hr-side5 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,

    #e5e5e5 60%,
    #e5e5e5 60%,
    #e5e5e5 70%,
    black 75%,

    black 80%,
    black 85%,
    black 85%,
    black 90%,
    black 95%,
    black 95%,
    black 100%
  );
}

/*  INDEX6*/
.hr-side6 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,

    #e5e5e5 60%,
    #e5e5e5 60%,
    #e5e5e5 70%,
    black 75%,

    black 80%,
    black 85%,
    black 85%,
    black 90%,
    black 95%,
    black 95%,
    black 100%
  );
}
/*INDEX 7*/
.hr-side7 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,
    white 65%,
    black 20%,
    black 70%,
    black 85%,
    black 95%,
    black 90%,
    black 100%
  );
}
/*INDEX8*/
.hr-side8 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,
    white 60%,
    black 20%,
    black 70%,
    black 85%,
    black 95%,
    black 90%,
    black 100%
  );
}
/*INDEX9*/
.link-ermine {
  color: #7d7d7d;
  font-family: Libre Baskerville;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
  text-decoration-line: underline;
  display: flex;
  margin-top: 51px;
}
.hr-side9 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,
    white 55%,
    black 20%,
    black 70%,
    black 85%,
    black 95%,
    black 90%,
    black 100%
  );
}

/*INDEX 10*/
.link-nightcoffee {
  color: #7d7d7d;
  font-family: Libre Baskerville;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
  text-decoration-line: underline;
  display: flex;
  margin-top: 51px;
}
.hr-side10 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,
    white 50%,
    black 20%,
    black 70%,
    black 85%,
    black 95%,
    black 90%,
    black 100%
  );
}

/*INDEX 11*/
.hr-side11 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,
    white 35%,
    black 20%,
    black 70%,
    black 85%,
    black 95%,
    black 90%,
    black 100%
  );
}
/*INDEX12*/
.hr-side12 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,
    white 20%,
    black 20%,
    black 70%,
    black 85%,
    black 95%,
    black 90%,
    black 100%
  );
}
/*INDEX13*/
.hr-side13 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,
    white 15%,
    black 20%,
    black 70%,
    black 85%,
    black 95%,
    black 90%,
    black 100%
  );
}
/*INDEX14*/
.hr-side14 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,
    white 5%,
    black 20%,
    black 70%,
    black 85%,
    black 95%,
    black 90%,
    black 100%
  );
}
/*INDEX15*/
.hr-side15 {
  border: 0;
  height: 1px;
  margin-top: 67px;
  background-image: linear-gradient(
    to left,

    black 20%,
    black 100%
  );
}
/*index sign-in*/
.form-box {
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .arrow-login {
    position: absolute;

    position: absolute;
    top: 46px;
    left: 47px;
    font-size: 36px;
    a {
      color: black;
    }
  }
  .galleria-log {
    font-family: "Libre Baskerville", serif;

    margin-top: 105px;
    text-align: center;
    font-weight: bold;
  }

  #form-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding-top: 61px;
    padding: 28px;
    .label1 {
      padding: 33px;
      font-weight: 800;
      font-size: 19px;
    }
    .label2 {
      padding: 4px;
      font-weight: 800;
      font-size: 19px;
    }
    .input {
      width: 7px;
      width: 318px;
      align-self: center;
      height: 48px;
      border-radius: 2px solid grey;
      padding: 5px;
      font-size: 16px;
    }

    .forgot {
      font-size: 13px;
      align-self: end;
      padding-right: 38px;
      padding-top: 8px;
      color: #1565c0;
      font-family: "Libre Baskerville", serif;
    }

    .button1 {
      width: 318px;
      height: 48px;
      background-color: #2196f3;
      border: none;
      border-radius: 4px;
      color: white;
      font-size: 19px;
      margin: 0 auto;
      margin-top: 71px;
    }
  }
}
.form-box {
  #form-example2 {
    display: flex;
    flex-direction: column;

    gap: 16px;
    padding-top: 61px;

    align-items: center;

    .label3 {
      padding: 17px;
      font-weight: 800;
      font-size: 19px;
    }
    .label4 {
      padding: 17px;
      font-weight: 800;
      font-size: 19px;
    }
    .label5 {
      padding: 3px;
      font-weight: 800;
      font-size: 19px;
    }

    .input2 {
      width: 7px;
      width: 318px;

      height: 48px;
      border-radius: 2px solid grey;
      padding: 7px;
      font-size: 16px;
    }

    .register-p2 {
      font-size: 12px;
      font-family: "Libre Baskerville", serif;
      a {
        text-decoration: none;
        color: grey;
        line-height: 2;
      }
    }

    .btn-field1 {
      align-self: center;
      padding-top: 39px;
      .button1 {
        width: 318px;
        height: 48px;
        background-color: #2196f3;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 65px;
      }
    }
    .btn-field2 {
      align-self: center;
      padding-top: -4px;
      .button1 {
        width: 318px;
        height: 48px;
        background-color: #2196f3;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 19px;
        margin-top: 40px;
      }
    }
    .account {
      display: flex;
      justify-content: center;

      .log {
        font-family: "Libre Baskerville", serif;
        font-size: 13px;
      }
    }
  }
}
//SHOP
.navbar {
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .cart {
    font-size: 30px;
    position: relative;
    padding: 13px;

    i {
      cursor: pointer;
    }

    .cartAmount {
      position: absolute; //este absolute fata de parinte, de aia punem la cart position:relative
      top: -4px;
      right: -2px;
      font-size: 19px;
    }
  }
}
.shop {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 220px); //py a incadra o casuta
  gap: 30px;
  justify-content: center;
  text-align: center;
  .item {
    border: 1px solid lightgrey;
    padding-top: 7px;
    img {
      object-fit: contain;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    .price-quantity {
      display: flex;
      justify-content: center;
      flex-direction: row;

      .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 12px;
        font-size: 17px;
      }
    }
  }
}
// CART
.navbar {
  .checkout {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
}
.main-cart {
  max-width: 90%;
  margin: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  height: 900px;
  gap: 50px;

  .main-cart1 {
    width: 40%;

    .first-part {
      .delivery-adress {
        padding: 5px;

        .delivery {
          font-size: 20px;
          letter-spacing: 2px;
          font-family: "Libre Baskerville", serif;
        }
        input[type="text"],
        select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid grey;
          border-radius: 4px;
        }

        input[type="submit"] {
          width: 100%;
          background-color: #4caf50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 20px;
        }

        input[type="submit"]:hover {
          background-color: #45a049;
        }

        div {
          border-radius: 5px;
          background-color: white;
          padding: 30px;
        }
        label {
          color: grey;
          font-size: 16px;
          font-weight: bold;
          font-family: "Libre Baskerville", serif;
          letter-spacing: 2px;
          padding: 5px;
        }
      }
    }
  }
  .main-cart2 {
    width: 70%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: flex-start;

    .text-totalclear {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; //style rules for label and some buttons -din cart.htl si cart js (faza cu cart is empty din cart.js)
      margin-top: 109px;
      position: absolute;
      top: -36px;
      .h3-reduce {
        margin: -15px;
        font-family: "Roboto", Sans-Serif;
        font-weight: bold;
        font-size: 23px;
      }
      .h4-emptycart {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        letter-spacing: 2px;
        margin: 0;
      }
      .h5-emptycart {
        color: #7d7d7d;
        letter-spacing: 2px;
      }

      .homeBtn {
        font-size: 20px;
        padding: 10px;
        color: white;
        background-color: #1565c0;
        border-width: 0;
        cursor: pointer;
        margin: 30px 0;
        border-radius: 3px;
      }
    }
    .shopping-cart {
      display: grid;

      margin-top: 122px;
      .cart-item {
        display: flex;
        justify-content: space-between;
        height: 120px;
        border: 1px solid lightgrey;
        align-items: center;
        gap: 9px;
        padding: 0 14px;
        position: relative;
        .button-cart {
          display: flex;
          flex-direction: row;
          gap: 7px;
          align-items: center;
        }

        .image-checkout {
          margin: 0;
        }
        .details-checkout {
          width: 241px;
          height: auto;

          .h5-price {
            border: 0;
            margin: 11px;
            color: #7d7d7d;
            font-size: 20px;
          }
        }
        .fa-xmark {
          color: #7d7d7d;
          font-size: 21px;
          margin: 10px;
          position: absolute;
          top: 0;
          right: 0;
        }
        .p-name {
          font-size: 15px;
          margin-top: 10px;
          font-family: "Roboto", sans-serif;
        }
      }
      .subtotal {
        font-size: 18px;
      }
    }
  }
}

//ABOUT US
.img-aboutus {
  margin-left: 21px;
  margin-top: 33px;
}
.about-us {
  position: relative;
  margin-top: 10px;
  .photo-aboutus {
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      height: 400px;
      width: 600px;
      object-fit: contain;
    }
  }
}
.aboutus-paragraphs {
  padding: 24px;
  text-align: center;
  h4 {
    line-height: 26px;
    font-family: "Libre Baskerville", serif;
    font-size: 21px;
  }
  p {
    line-height: 26px;
    font-family: "Libre Baskerville", serif;
    font-size: 18px;
  }
}
@media (max-width: 720px) {
  .shop {
    grid-template-columns: repeat(2, 235px); //py a incadra o casuta
  }
}
@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 235px); //py a incadra o casuta
  }
}
